#status span.highlight {background-color: #F7FB38;border: 1.5px solid black; }

label {
  width:85px;
  display: inline-table;
}

.dygraph-legend {
    background-color: rgba(200, 200, 255, 0.75) !important;
    padding: 4px;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 4px 4px 4px #888;
    pointer-events: none;
}

pre {
  margin-top: 30px;
}

.tableContainer {
    display: table;
    border-collapse: collapse;
}

.row {
    display:table-row;
}

.cell {
    display: table-cell;
    border: 2px solid lightslategray;
    width: 230px;
    height: 150px;
    box-sizing: border-box;
}

